<div>
    <ul>
        <li>
            <button class="normalButton buttonColor" (click)="openProductCreateModal(product_create_modal)">
                <i class="material-icons md-18">add</i>
            </button>
        </li>
        <li class="inputFieldDay">
            <select class="form-control" (change)="selectDay($event)">
                <option value="" selected>--Dag--</option>
                <option *ngFor="let x of amountDaysMonth" value="{{x}}">{{x}}</option>
            </select>
        </li>
        <li class="inputFieldYearMonth">
            <input type="month" onkeydown="return false" class="form-control" (change)="selectYearMonth($event)" value="{{defaultYearMonth}}"/>
        </li>

        <li class="inputFieldSearch">
            <div class="container-search">
                <input type="search" [(ngModel)]="descFilter" class="form-control searchBar" placeholder="Zoek..."/>
                <button class="searchButton buttonColor" (click)="selectSearchBar(descFilter)">
                    <i class="material-icons md-18">search</i>
                </button>
            </div>      
        </li>

        <li class="inputFieldCategory">
            <select class="form-control" (change)="selectCategoryFilter($event)">
                <option value="" selected>--Categorie--</option>
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
            </select>
        </li>
    </ul>

    <div class="scrollable">
        <table mat-table class="table table-striped" [dataSource]="dataSource">
            <ng-container matColumnDef="DatePurchased">
                <th mat-header-cell class="table_th" *matHeaderCellDef (click)="sortOnDate()">
                    Datum<i class="material-icons md-20">{{sortDateAsc == true? 'expand_more' : 'expand_less'}}</i>
                </th>
                <td mat-cell class="table_td" *matCellDef="let product">
                    {{product.datePurchased.substring(0, 10) | date : "dd/MM/y"}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Category">
                <th mat-header-cell class="table_th" *matHeaderCellDef (click)="sortOnCategory()">
                    Categorie<i class="material-icons md-20">{{sortCatgAsc == true? 'expand_more' : 'expand_less'}}</i>
                </th>
                <td mat-cell class="table_td" *matCellDef="let product">
                    {{product.category.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th mat-header-cell class="table_th" *matHeaderCellDef>
                    Beschrijving
                </th>
                <td mat-cell class="table_td" *matCellDef="let product">
                    {{product.description}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Price">
                <th mat-header-cell class="table_th" *matHeaderCellDef (click)="sortOnPrice()">
                    Kosten<i class="material-icons md-20">{{sortPriceAsc == true? 'expand_more' : 'expand_less'}}</i>
                </th>
                <td mat-cell class="table_td" *matCellDef="let product">
                    € {{product.price}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Paid">
                <th mat-header-cell class="table_th" *matHeaderCellDef (click)="sortOnPaid()">
                    Betaald?<i class="material-icons md-20">{{sortPaidAsc == true? 'expand_more' : 'expand_less'}}</i>
                </th>
                <td mat-cell class="table_td" *matCellDef="let product">
                    <div *ngIf="product.paid == false">
                        <input type="checkbox" id="paidCheckbox" name="paidCheckbox" (change)="updatePropPaid(product.id, $event)">
                    </div>
                    <div *ngIf="product.paid == true">
                        <input type="checkbox" id="paidCheckbox" name="paidCheckbox" (change)="updatePropPaid(product.id, $event)" checked>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell class="table_th" *matHeaderCellDef></th>
                <td mat-cell class="table_td" *matCellDef="let product">
                    <i mat-button class="normalButton" 
                       [matMenuTriggerFor]="menu" class="material-icons md-19">more_vert
                    </i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" class="updateButton" (click)="openProductUpdateModal(product_update_modal, product.id)">
                                <i class="material-icons md-18">create</i> Aanpassen
                        </button>
                        <button mat-menu-item (click)="deleteProductById(product.id)" type="button" class="deleteButton">
                                <i class="material-icons md-18">delete</i> Verwijderen
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table_tr"></tr>
            
        </table>
    </div>

    <hr/>

    <table class="tableTotalPrices">
        <tr>
          <th>Nog te betalen</th>
          <th>Betaald</th>
          <th>Totale kosten</th>
        </tr>
        <tr>
          <td class="priceToPaidColor">€ {{totalToPaid}}</td>
          <td class="pricePaidColor">€ {{totalPaid}}</td>
          <td>€ {{totalPrice}}</td>
        </tr>
      </table>
</div>

<!--ProductCreateComponent in Modal-->
<ng-template #product_create_modal let-modal>
    <app-product-create></app-product-create>
</ng-template>

<!--ProductUpdateComponent in Modal-->
<ng-template #product_update_modal let-modal>
    <app-product-update></app-product-update>
</ng-template>
