  /*Function Bar*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li button {
    display: block;
    text-decoration: none;
  }

  li input {
    display: block;
    text-decoration: none;
  }

  /*Table*/
  .table_tr {
    height: 1%;
    vertical-align: middle;
  }

  .table_tr:hover {
    height: 1%;
    vertical-align: middle;
    background-color: #cff9ff;
  }

  .table_th {
    height: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }

  .table_td {
    vertical-align: middle;
  }

  /*Buttons, inputs*/
  .normalButton {
    border: none;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    margin-right: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 6px;
  }

  .buttonColor {
    background-color: #0080e8;
    color: white;
  }

  .buttonColor:hover {
    background-color: #005296;
    color: white;
  }

  .updateButton {
    background-color: rgb(219, 174, 25); 
    color: white; 
    transition-duration: 0.4s;
  }

  .updateButton:hover {
    background-color: rgb(184, 135, 28);
    color: white;
    transition-duration: 0.4s;
  }

  .deleteButton {
    background-color: rgb(219, 25, 25); 
    color: white; 
    transition-duration: 0.4s;
  }

  .deleteButton:hover {
    background-color: rgb(184, 28, 28);
    color: white;
    transition-duration: 0.4s;
  }

  .material-icons.md-18 { 
    font-size: 24px; 
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    color: white;
  }

  /*Inputs*/
  .inputFieldYearMonth {
    margin-right: 5px;
  }

  .inputFieldDay {
    margin-right: 5px;
  }

  /*listButton icon*/
  .material-icons.md-19 { 
    font-size: 23px; 
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    padding: 2px 0px 1px 0px;
  }