/*Navbar*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  background-color: #0080e8;
  padding: 0px 16px 0px 16px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.mb-3, .my-3 {
  margin-bottom: 0rem!important; /*navbar margin*/
}

/*Toggler*/
.toggle-button {
  padding: 8px 0px 8px 0px;
}

.toggler {
  border: 1px solid white;
}

.material-icons.md-18 { 
  font-size: 22px; 
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
  color: white;
}

/*buttons navbar*/
.nav-item {
  background-color: #0080e8;
  transition: 0.3s;
  padding: 8px 8px 8px 8px;
}

.nav-item:hover {
  background-color: #005296;
  transition: 0.3s;
  padding: 8px 8px 8px 8px;
}

/*Extra*/
.textColor {
  color: white;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
