<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 backgroundColor">
    <div class="container">
      <a class="navbar-brand textColor" [routerLink]="['/']">Kosten Assistent App</a>
      <button
        class="navbar-toggler toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"><i class="material-icons md-18">menu</i></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }">

        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">

            <a class="nav-link textColor" [routerLink]="['/']">
              Kostenbeheer
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link textColor" [routerLink]="['/counter']">
              Kosten naar tekst
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
