<!--ng-template #product_create_modal let-modal-->
<div class="modal-header">
    <h4 class="modal-title" id="product-update-modal">Product aanpassen</h4>
    <button type="button" class="close" aria-label="Close" (click)="onReset()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productUpdateForm" (ngSubmit)="onSubmit()">

    <input type="hidden" name="Id" formControlName="Id">

    <div class="form-group">
        <div class="form-row">
            <div class="form-group">
                <label>Datum:</label>
                <input type="date" formControlName="datePurchased" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.datePurchased.errors }" />
                <div *ngIf="submitted && f.datePurchased.errors" class="invalid-feedback">
                    <div *ngIf="f.datePurchased.errors.required">Dit veld is vereist</div>
                    <div *ngIf="f.datePurchased.errors.pattern">Datum moet in een geldig formaat staan</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Categorie:</label>
                <select class="form-control" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
                <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                    <div *ngIf="f.categoryId.errors.required">Dit veld is vereist</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Beschrijving:</label>
                <textarea formControlName="description" class="form-control" rows="3" cols="60"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Dit veld is vereist</div>
                    <div *ngIf="f.description.errors.maxlength">Dit veld mag niet meer dan 200 karakters bevatten</div>
                    <div *ngIf="f.description.errors.noWhitespace">Dit veld is vereist</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Kost:</label>
                <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Dit veld is vereist</div>
                    <div *ngIf="f.price.errors.min">De kost moet groter dan of gelijk zijn aan €0</div>
                    <div *ngIf="f.price.errors.pattern">Maximum 2 cijfers na de komma</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Betaald?</label>
                <input type="checkbox" formControlName="paid" class="form-control widthCheckbox" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="normalButton buttonColor" type="reset" (click)="onReset()">Cancel</button>
        <button type="button" class="normalButton buttonColor" type="submit">Aanpassen</button>
        </div>
    </form>
</div>
<!--/ng-template-->

<!--button class="normalButton buttonColor" (click)="open(product_create_modal)">
<i class="material-icons md-18">add</i>
</button-->
